.code {
    background-color: #f5f2f0;
    font-family: Monaco, Menlo, Consolas, "Courier New", Courier, monospace,
        sans-serif !important;
    padding: 5px 0px 5px 7px;
    border-radius: 5px;
}
